<div class="margin">
  <div class="header">
    <h1>Lista de Clientes</h1>
    <button mat-raised-button color="primary" (click)="onAdd()">Novo Cliente</button>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <div class="example-container mat-elevation-z8" matSort>
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="código"> {{row.id}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="nome"> {{row.name}} </mat-cell>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="telefone"> ({{row.phone.area}})
          {{row.phone.exchange}}-{{row.phone.subscriber}} </mat-cell>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="preferential">
        <mat-header-cell *matHeaderCellDef> Preferencial </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="preferencial"> {{row.preferential}} </mat-cell>
      </ng-container>
      <!-- Get Details -->
      <ng-container matColumnDef="detalhes">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="id">
          <button mat-raised-button color="primary" (click)="onUnit(row.id)">Ver mais</button>
        </mat-cell>
      </ng-container>

      <!-- Get Details -->
      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef> Alterar </mat-header-cell>
        <mat-cell *matCellDef="let row " data-label="alterar">
          <button mat-icon-button class="update " (click)="onEdit(row.id)">
            <mat-icon>update</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Deletar </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="deletar">
          <button mat-icon-button color="warn" (click)="openDialogconfirm(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>

      <tr class="mat-row " *matNoDataRow>
        <td class="mat-cell " colspan="4 ">Nenhum dado corresponde ao filtro "{{input.value}} "</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 30, 50] " showFirstLastButtons></mat-paginator>
  </div>
</div>
