<div>
  <mat-toolbar>
    <mat-toolbar-row class="header">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img [src]="logoSvg" alt="Customer Visit" class="max-img">
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a routerLink="/" mat-button>Home</a>
        <a routerLink="/client" mat-button>Cliente</a>
        <a routerLink="/visit" mat-button>Visitas</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a routerLink="/" mat-button>Home</a>
        <a routerLink="/client" mat-button>Cliente</a>
        <a routerLink="/visit" mat-button>Visitas</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="body" fxFlexFill>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<router-outlet></router-outlet>
