<div class="margin">
  <h1>Escolha um Cliente</h1>
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <div class="example-container mat-elevation-z8" matSort>
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Codifo </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="id"> {{row.id}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="nome"> {{row.name}} </mat-cell>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Telefone"> ({{row.phone.area}})
          {{row.phone.exchange}}-{{row.phone.subscriber}} </mat-cell>
      </ng-container>
      <!-- Get Details -->
      <ng-container matColumnDef="detalhes">
        <mat-header-cell *matHeaderCellDef> Detalhes </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="id"> <button mat-raised-button color="primary"
            (click)="onData(row.id, row.name)">Escolher</button> </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhum dado corresponde ao filtro "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
