.margin {
  background-color: #ffffff;
  max-width: 900px;
  margin: -10% auto 0 auto;
  border-radius: 1rem;
  padding: 3%;
}

@media screen and (min-width: 2051px) {
  .margin {
      margin: -5% auto 0 auto;
  }
}

@media screen and (min-width: 2206px) {
  .margin {
      margin: -3% auto 0 auto;
  }
}

@media screen and (max-width: 960px) {
  .margin {
      background-color: #ffffff;
      max-width: 700px;
      margin: -5% auto 0 auto;
      border-radius: 1rem;
      padding: 1%;
  }
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}
